*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color:white;
  height: 100vh;
  width: 100%;
}


.navbar{
  height: 70px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 9;
}

.navbar-brand{
  color: white;
}

.navbar-toggler-icon{
  filter:invert(100%);
}

.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.navbar-brand:hover{
  color: #00FFAF;
  box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
  transition: all 0.2s ease-in-out;
}

.navbar-nav a{
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.navbar-nav a:hover{
  color: #00FFAF;
  font-weight: 400;
  box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
  transition: all 0.2s ease-in-out;
}


.top__section__generic{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(0deg, rgba(158,36,255,1) 0%, rgba(0,0,0,1) 86%);
  height: 520px;
  overflow-x: hidden;
}


.top__content__generic{
  display: flex;
  text-align: center;
  padding-top: 50px;
}

.left__info{
  padding-left: 0px;
  align-items: center;
  text-align: center;
}

.img__mobile{
  display: flex;
  position: relative;
  justify-items: center;
  width: fit-content;
}

.img__desktop{
  display: none;
  width: 700px;
}

.tittle1{
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-break: veryloose;
  font-family: 'Montserrat', sans-serif;
  margin: 45px 30px 0px 30px;
  color: #00FFAF;
}


.service__section{
  display: flex;
  flex-direction: column;
  background-color: #551d83;
  height: fit-content;
  padding: 40px 50px 100px 50px;
  font-family: 'Montserrat', sans-serif;
}

.form__statement{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-break: veryloose;
  text-align: left;
  padding: 20px 50px 60px 0px;
}


.form-control{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: veryloose;
  border-style: solid;
  border-color:rgb(194, 129, 255);
  border-width: 2px; 
  margin: 0px 0px 5px 0px;
}

.form-label{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-break: veryloose;
  margin: 0px 0px 10px 0px;
}

.form-control:focus{
  border-color:#00FFAF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00FFAF;
}

.service__options{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: aquamarine;
  height: 50px;
}

.options__statement{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-break: veryloose;
  text-align: center;
  padding: 8px 0px 0px 0px;
  
}

.form-select{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-break: veryloose;
  margin: 0px 0px 20px 0px;
  border-style: solid;
  border-color:rgb(194, 129, 255);
  border-width: 2px; 
}

.form-select:focus{
  border-color:#00FFAF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00FFAF;
}

.footer__section{
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-content: center;
  text-align: left;
  height: 280px;
  background-color: black;
}

.footer__right{
  flex-direction: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.footer__img img{
  display: block;
  width: 150px;
}

.footer__img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}

ul{
  padding: 0px;
  margin: 20px 40px 10px 40px;
}


.text3 li{
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 2.5;
  padding: 0px;
  margin-left: 10px;
}

.text3 img{
  display: inline-block;
  position: relative;
  width: 15px;
  top: -2px;
  margin-right: 10px;
}

.social__icons img{
  display: inline-block;
  position: relative;
  width: 20px;
  
}

.social__icons{
  display: flex;
  align-items:center;
  justify-content:space-around;
  margin: 20px 100px 0px 100px;
}

.copyright{
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-break: veryloose;
  padding: 0px 0px 0px 0px;
  color: #a193ac;
}




@media only screen and (min-width: 375px) {
  .service__section{
      padding: 40px 70px 100px 70px;
  }

  .tittle1{
      margin: 40px 40px 10px 40px;
  }

  .text3 li{
      margin-left: 40px;
 }
 .social__icons{
     margin: 20px 130px 0px 130px;
 }


}

@media only screen and (min-width: 425px) {
  .service__section{
      padding: 40px 80px 100px 80px;
  }

  .text3 li{
      margin-left: 65px;
  }
  .social__icons{
      margin: 20px 150px 0px 150px;
  }

}

@media only screen and (min-width: 768px) {
  .top__section__generic{
      height: 650px;
      overflow-x: hidden;
  }
  
  .tittle1{
      font-size: 40px;
      margin: 40px 120px 10px 120px;
  }


  .img__mobile{
      display: flex;
      margin: 0px 0px 0px 105px;
      width: 550px;
  }
  
  .service__section{
      height: fit-content;
      padding: 50px 132px 100px 132px;
  }

  .footer__section{
      display: flex;
      flex-direction: row;
      justify-content:first baseline;
      align-content: center;
      text-align: left;
      height: 200px;
      background-color: black;
  }
  
  .footer__right{
      flex-direction: column;
      position: relative;
      margin: 30px 0px 0px 0px;
      padding: 0;
  }
  
  .footer__img img{
      width: 200px;
  }
  
  .footer__img{
      position: relative;
      left: 40px;
      margin: 0px 0px 0px 0px;
  }
  
  ul{
      padding: 0px;
      margin: 10px 40px 10px 30px;
  }
  
  
  .text3 li{
      display: inline-block;
      text-decoration: none;
      line-height: 2.5;
      padding: 0px;
      margin-left: 10px;
  }
  
  .text3 img{
      display: inline-block;
      position: relative;
      width: 15px;
      top: -2px;
      margin-right: 10px;
  }
  
  .social__icons img{
      display: inline-block;
      position: relative;
      width: 20px;
      margin-right: 20px;
      align-items: center;
    }
  
  .social__icons{
      display: flex;
      align-items: center;
      justify-content: left;
      margin: 10px 0px 0px 40px;
    }
  
    .copyright{
      text-align: left;
      padding: 0px 0px 0px 40px; 
  }
}

@media only screen and (min-width: 1024px) {
  .top__section__generic{
      height: 500px;
      overflow-x: hidden;
  }

  .img__mobile{
      display: none;
  }
  
  .service__section{
      padding: 50px 200px 100px 200px;
  }

  .tittle1{
      font-size: 50px;
      margin: 20px 0px 20px 100px;
      text-align: left;
  }

  .img__desktop{
      display: flex;
      position: relative;
      margin: 20px 20px 0px 50px;
      width: 450px;
  }

  .footer__section{
      flex-direction: column;
      height: 170px;
      
  }
  
  .footer__right{
      margin: 35px 0px 0px 0px;
  }
  
  .footer__img img{
      width: 280px;
  }
  
  .footer__img{
      margin: 5px 0px 0px 0px;
  }
  
  ul{
      padding: 0px;
      margin: 10px 40px 10px 30px;
  }
  
  .text3 li{
      display: inline-block;
      text-decoration: none;
      line-height: 2.5;
      padding: 0px;
      margin-left: 10px;
  }
  


}


@media only screen and (min-width: 1440px) {
  .top__section__generic{
      height: 550px;
      overflow-x: hidden;
  }

  .img__mobile{
      display: none;
  }
  
  .tittle1{
      font-size: 60px;
      margin: 40px 0px 20px 180px;
      text-align: left;
  }

  .service__section{
      padding: 50px 400px 100px 400px;
  }


  .img__desktop{
      width: 600px;
  }

  .footer__img{
      flex-direction: row;
      justify-content:flex-end;
      margin: 5px 0px 0px 0px;
  }

  .footer__img img{
      display: flex;
      position: relative;
      right: 120px;
  }
}
