* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
  height: 100vh;
  width: 100%; }

.navbar {
  height: 70px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 9; }
  .navbar .navbar-brand {
    color: white; }
  .navbar .navbar-toggler-icon {
    filter: invert(100%); }

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .nav-item .navbar-brand:hover {
    color: #00FFAF;
    box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
    transition: all 0.2s ease-in-out; }
  .nav-item .navbar-nav a {
    color: white;
    font-weight: 300;
    font-size: 12px; }
  .nav-item .navbar-nav a:hover {
    color: #00FFAF;
    font-weight: 400;
    box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
    transition: all 0.2s ease-in-out; }

.top__section__generic {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(0deg, #b75dff 0%, #9e24ff 25%, black 94%);
  height: 900px;
  overflow-x: hidden; }
  .top__section__generic .top__content__generic {
    display: flex;
    text-align: center;
    padding-top: 25px; }
  .top__section__generic .left__info {
    padding-left: 0px;
    align-items: center;
    text-align: center; }
  .top__section__generic .tittle1 {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-break: veryloose;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0px 0px 0px;
    color: #00FFAF;
    padding-top: 10px; }
  .top__section__generic .tittle-small {
    display: block;
    font-size: 28px;
    font-weight: 750;
    line-break: veryloose;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0px 0px;
    color: #00FFAF; }
  .top__section__generic .text1 {
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-break: veryloose;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 30px 60px 30px; }

.btn__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto; }
  .btn__top .btn-demo {
    display: flex;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-break: veryloose;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #3aff7c00;
    border-color: #00FFAF;
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 20px; }
    .btn__top .btn-demo .btn-demo:hover {
      background-color: #00FFAF;
      color: black;
      box-shadow: -3px 22px 30px -12px rgba(228, 219, 255, 0.5);
      transition: all 0.2s ease-in-out; }
  .btn__top .btn-about {
    display: flex;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-break: veryloose;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: #0000005d;
    border-color: #00000000;
    border-radius: 5px;
    border-width: 2px; }
    .btn__top .btn-about .btn-about:hover {
      background-color: #f1e4ff color;
      box-shadow: -3px 22px 30px -12px rgba(228, 219, 255, 0.5);
      transition: all 0.2s ease-in-out; }

.img__mobile {
  display: flex;
  position: relative;
  justify-items: center;
  width: fit-content; }

.img__desktop {
  display: none;
  position: relative;
  justify-items: center;
  width: fit-content; }

.service__section {
  background-color: #fbf6ff;
  height: fit-content;
  padding: 60px 40px 100px 40px; }
  .service__section .card {
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.904);
    margin: 0px 0px 30px 0px;
    overflow-x: hidden; }
    .service__section .card .card:hover .card-title {
      color: #00FFAF; }
    .service__section .card .card:hover .btn-card {
      border-color: #9E24FF;
      transition: all 0.2s ease-in-out; }
    .service__section .card .card:hover {
      box-shadow: -3px 22px 30px -12px rgba(213, 211, 219, 0.5);
      background: linear-gradient(180deg, #f3ecff 0%, white 100%);
      border-width: 2px;
      transition: all 0.2s ease-in-out; }

.card-body {
  padding: 0px 25px 0px 25px;
  text-align: center; }
  .card-body .card-img-top {
    display: flex;
    position: relative;
    width: 200px;
    justify-self: center;
    align-self: center;
    background-color: black;
    border-radius: 0px 0px 50px 50px;
    overflow: hidden; }
  .card-body .card-title {
    color: #36364b;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-break: veryloose;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0px 0px 0px; }
  .card-body .card-text-before {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-break: veryloose;
    color: #a5a5ca;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 20px 0px 20px; }
  .card-body .card-text {
    color: #36364b;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 0px; }

.cards__btn {
  display: flex;
  justify-content: center;
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 0px 0px; }
  .cards__btn .btn-card {
    display: flex;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-break: veryloose;
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: #36364b;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    background-color: transparent;
    border-color: #d9d9ff;
    border-radius: 5px;
    border-width: 1.8px; }
    .cards__btn .btn-card .btn-card:hover {
      background-color: #9E24FF;
      color: white; }

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-content: center;
  text-align: left;
  height: 280px;
  background-color: black; }
  .footer__section .footer__right {
    flex-direction: block;
    position: relative;
    margin: 0;
    padding: 0; }
  .footer__section .footer__img img {
    display: block;
    width: 150px; }
  .footer__section .footer__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 0px; }
  .footer__section ul {
    padding: 0px;
    margin: 20px 40px 10px 40px; }
  .footer__section .text3 li {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    line-height: 2.5;
    padding: 0px;
    margin-left: 10px; }
  .footer__section .text3 img {
    display: inline-block;
    position: relative;
    width: 15px;
    top: -2px;
    margin-right: 10px; }
  .footer__section .social__icons img {
    display: inline-block;
    position: relative;
    width: 20px; }
  .footer__section .social__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 100px 0px 100px; }
  .footer__section .copyright {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-break: veryloose;
    padding: 0px 0px 0px 0px;
    color: #a193ac; }

@media only screen and (min-width: 375px) {
  .service__section {
    padding: 80px 50px 100px 50px; }
  .card-body {
    padding: 0px 30px 0px 30px;
    text-align: center; }
  .card-img-top {
    width: 230px; }
  .tittle1 {
    margin: 30px 40px 10px 40px; }
  .text1 {
    margin: 30px 40px 60px 40px; }
  .text3 li {
    margin-left: 40px; }
  .social__icons {
    margin: 20px 130px 0px 130px; } }

@media only screen and (min-width: 425px) {
  .service__section {
    padding: 100px 60px 100px 60px; }
  .card-img-top {
    width: 260px; }
  .text3 li {
    margin-left: 65px; }
  .social__icons {
    margin: 20px 150px 0px 150px; } }

@media only screen and (min-width: 768px) {
  .top__section__generic {
    height: 900px;
    overflow-x: hidden; }
  .img__mobile {
    display: flex;
    margin: 0px 120px 0px 120px;
    width: 500px; }
  .service__section {
    height: fit-content;
    padding: 100px 120px 100px 120px; }
  .card-img-top {
    width: 200px; }
  .tittle1 {
    font-size: 40px;
    margin: 30px 120px 10px 120px;
    padding-top: 30px; }
  .tittle-small {
    font-size: 40px; }
  .text1 {
    margin: 20px 120px 60px 120px; }
  .btn__top {
    flex-direction: row;
    width: auto;
    gap: 30px; }
  .btn-demo {
    margin-bottom: 0px; }
  .card-title {
    text-align: center; }
  .card-text-before {
    text-align: center;
    margin: 5px 20px 0px 20px; }
  .card-text {
    text-align: center;
    margin: 15px 0px 0px 0px; }
  .cards__btn {
    display: flex;
    justify-content: center;
    margin: 0px 0px 35px 0px; }
  .footer__section {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-content: center;
    text-align: left;
    height: 200px; }
  .footer__right {
    flex-direction: column;
    position: relative;
    margin: 30px 0px 0px 0px;
    padding: 0; }
  .footer__img img {
    width: 200px; }
  .footer__img {
    position: relative;
    left: 40px;
    margin: 0px 0px 0px 0px; }
  ul {
    padding: 0px;
    margin: 10px 40px 10px 30px; }
  .text3 li {
    display: inline-block;
    text-decoration: none;
    line-height: 2.5;
    padding: 0px;
    margin-left: 10px; }
  .text3 img {
    display: inline-block;
    position: relative;
    width: 15px;
    top: -2px;
    margin-right: 10px; }
  .social__icons img {
    display: inline-block;
    position: relative;
    width: 20px;
    margin-right: 20px;
    align-items: center; }
  .social__icons {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0px 0px 40px; }
  .copyright {
    text-align: left;
    padding: 0px 0px 0px 40px; } }

@media only screen and (min-width: 1024px) {
  .top__section__generic {
    height: 800px;
    overflow-x: hidden; }
  .img__mobile {
    display: none; }
  .service__section {
    padding: 100px 150px 100px 150px; }
  .card {
    border-radius: 10px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.842);
    margin: 0px 0px 30px 0px;
    overflow-x: hidden; }
  .card-body {
    padding: 0px 50px 0px 50px;
    text-align: left; }
  .card-title {
    text-align: left;
    font-size: 20px;
    margin: 30px 0px 0px 0px; }
  .card-text-before {
    font-size: 14px;
    text-align: left;
    margin: 5px 0px 0px 0px; }
  .card-text {
    text-align: left; }
  .cards__btn {
    display: flex;
    justify-content: left;
    padding: 0px 50px 0px 50px; }
  .card-img-top {
    width: 300px; }
  .tittle1 {
    margin: 30px 0px 20px 100px;
    text-align: left;
    padding-top: 100px; }
  .tittle-small {
    font-size: 40px; }
  .text1 {
    text-align: left;
    margin: 25px 0px 20px 100px; }
  .btn__top {
    flex-direction: row;
    width: fit-content;
    gap: 30px;
    margin: 60px 0px 0px 100px; }
  .img__desktop {
    display: flex;
    position: relative;
    margin: 40px 20px 0px 50px;
    width: 450px; }
  .footer__section {
    flex-direction: column;
    height: 170px; }
  .footer__right {
    margin: 35px 0px 0px 0px; }
  .footer__img img {
    width: 280px; }
  .footer__img {
    margin: 5px 0px 0px 0px; }
  ul {
    padding: 0px;
    margin: 10px 40px 10px 30px; }
  .text3 li {
    display: inline-block;
    text-decoration: none;
    line-height: 2.5;
    padding: 0px;
    margin-left: 10px; } }

@media only screen and (min-width: 1440px) {
  .top__section__generic {
    height: 900px;
    overflow-x: hidden; }
  .img__mobile {
    display: none; }
  .service__section {
    padding: 100px 300px 150px 300px; }
  .card-body {
    padding: 0px 70px 0px 70px;
    text-align: left; }
  .card-title {
    font-size: 30px;
    margin-top: 0; }
  .card-text-before {
    font-size: 16px; }
  .card-text {
    font-size: 14px;
    margin-top: 30px; }
  .cards__btn {
    padding: 20px 0px 20px 70px; }
  .tittle1 {
    margin: 30px 0px 20px 100px;
    text-align: left;
    padding-top: 100px; }
  .tittle-small {
    font-size: 40px; }
  .text1 {
    text-align: left;
    margin: 25px 0px 20px 100px; }
  .card-img-top {
    width: 450px;
    top: -50px;
    overflow: hidden; }
  .tittle1 {
    font-size: 50px;
    margin: 40px 0px 20px 150px;
    text-align: left;
    padding-top: 150px; }
  .tittle-small {
    font-size: 50px; }
  .text1 {
    margin: 25px 0px 20px 150px; }
  .btn__top {
    flex-direction: row;
    width: fit-content;
    gap: 30px;
    margin: 60px 0px 0px 150px; }
  .img__desktop {
    width: 600px; }
  .footer__img {
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 0px 0px 0px; }
  .footer__img img {
    display: flex;
    position: relative;
    right: 120px; } }
